<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.season.btc">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="btc"
        android:icon="@drawable/ic_circle_btc"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:supportsRtl="true" >
        <activity android:name="com.season.example.WalletActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.season.example.BlockchainActivity" />
        <activity android:name="com.season.example.BlockchainXrpActivity" />
        <activity android:name="com.season.example.BlockchainFilActivity" />
        <activity android:name="com.season.example.token.TokenActivity" />
        <activity android:name="com.season.example.token.TokenTransactionActivity" />
    </application>

</manifest>