<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.season.myapplication">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_me"
        android:label="season"
        android:requestLegacyExternalStorage="true"
        android:name="com.season.SeasonApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label,android:icon,android:name">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data android:name="android.notch_support" android:value="true"/>
        <activity android:name="com.season.example.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.season.nouse.BallActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.season.example.PagerActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.season.nouse.test.ui.CalendarDingActivity" />
        <activity android:name="com.season.nouse.test.ui.CalendarSelActivity" />
        <activity android:name="com.season.nouse.test.ui.CalendarMiActivity" />

        <service android:name="com.season.example.alive.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.season.example.alive.EndCallService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.season.example.alive.LocalService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name="com.season.example.PhoneBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.season.example.PsActivity"
            tools:node="replace"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.season.example.BookShelfActivity"
            tools:node="replace"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.season.example.PluginActivity"
            tools:node="replace"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="com.season.example.provider.BookContentProvider"
            android:exported="true"
            android:authorities="com.season.example.provider.BookContentProvider" />
    </application>

</manifest>